.hidden {
  display: none;
}

.detailsCard {
  display: flex;
  flex-direction: column;
}

.movieCard {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-block: 10px;
  border-block: 1px solid black;
  padding-block: 10px;
  padding-left: 40px;
}

.btn {
  margin: 20px;
  cursor: pointer;
  color: blue;
}

.goBackButton {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: wheat;
  cursor: pointer;
  font-size: 15px;
}

.overview {
  font-size: 20px;
  font-weight: 700;
}
.overviewText {
  width: 500px;
}

.title {
  font-size: 30px;
  margin-bottom: 0;
}

.userScore {
  font-style: italic;
}

.genresCard {
  margin-top: auto;
}

.genres {
  font-size: 20px;
  font-weight: 700;
  font-style: oblique;
}

.genresList {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 0;
  font-style: italic;
}

.additionalCard {
  margin-left: 70px;
  font-size: 20px;
}
